{% set selectedSidebarNavItem = selectedSidebarNavItem is defined ? selectedSidebarNavItem : '' %}
<nav>
    <ul>
        <li>
            <a href="{{ cpUrl('fragments/settings/types') }}" class="{{ selectedSidebarNavItem == 'types' ? 'sel' : '' }}">Fragment Types</a>
        </li>
        <li>
            <a href="{{ cpUrl('fragments/settings/zones') }}" class="{{ selectedSidebarNavItem == 'zones' ? 'sel' : '' }}">Zones</a>
        </li>
    </ul>
</nav>
