{% extends 'fragments/_layouts/settings' %}

{% set title = "Fragment Types"|t('fragments') %}
{% set selectedSubnavItem = 'settings' %}
{% set selectedSettingsNavItem = 'types' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do view.registerTranslations('app', [
    "Name",
    "Handle",
    "Manage fragments",
    "No fragment types exist yet.",
]) %}

{% block actionButton %}
    <a href="{{ url('fragments/settings/types/new') }}" class="btn submit add icon">{{ "New fragment type"|t('fragments') }}</a>
{% endblock %}

{% block content %}
    <div id="fragmenttypes-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for type in fragmentTypes %}
    {% set tableData = tableData|merge([{
        id: type.id,
        title: type.name|t('site'),
        url: url('fragments/settings/types/' ~ type.id),
        name: type.name|t('site')|e,
        handle: type.handle,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('app', 'Name'),
        },
        {
            name: '__slot:handle',
            title: Craft.t('app', 'Handle'),
        },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#fragmenttypes-vue-admin-table',
        deleteAction: 'fragments/fragment-types/delete',
        emptyMessage: Craft.t('app', 'No fragment types exist yet.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
