{% extends '@fragments/_layouts/settings.twig' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do view.registerTranslations('fragments', [
    "Name",
    "Handle",
    "No zones exist yet.",
]) %}

{% set selectedSidebarNavItem = 'zones' %}

{% block actionButton %}
    <a href="{{ cpUrl('fragments/settings/zones/new') }}" class="btn submit add icon">{{ "New zone"|t('fragments') }}</a>
{% endblock %}

{% block content %}
    <div id="zones-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for zone in zones %}
    {% set tableData = tableData|merge([{
        id: zone.id,
        title: zone.name|t('site'),
        url: url('fragments/settings/zones/' ~ zone.id),
        name: zone.name|t('site')|e,
        handle: zone.handle,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('app', 'Name'),
        },
        {
            name: '__slot:handle',
            title: Craft.t('app', 'Handle'),
        },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#zones-vue-admin-table',
        deleteAction: 'fragments/zones/delete',
        emptyMessage: Craft.t('app', 'No zones exist yet.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
