{% requireAdmin %}
{% extends 'fragments/_layouts/settings' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Fragments Settings'|t('fragments') %}
{% set selectedSubnavItem = 'settings' %}
{% set selectedSettingsNavItem = 'zones' %}

{% set zones = craft.fragments.getAllZones() %}

{% block content %}
    <div id="zones-vue-admin-table"></div>

    <div class="buttons">
        <a href="{{ url('fragments/settings/zones/new') }}" class="btn submit add icon">{{ "New zone"|t('app') }}</a>
    </div>
{% endblock %}

{% set tableData = [] %}
{% for zone in zones %}
    {% set tableData = tableData|merge([{
        id: zone.id,
        title: zone.name|t('site'),
        url: url('fragments/settings/zones/' ~ zone.id),
        name: zone.name|t('site')|e,
        handle: zone.handle,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#zones-vue-admin-table',
        deleteAction: 'fragments/zones/delete-zone',
        emptyMessage: Craft.t('app', 'No zones exist yet.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
