{% set selectedSettingsNavItem = selectedSettingsNavItem is defined ? selectedSettingsNavItem : '' %}
<nav>
    <ul>
        <li>
            <a href="{{ cpUrl('fragments/settings/fragmenttypes') }}" class="{{ selectedSettingsNavItem == 'fragmenttypes' ? 'sel' : '' }}">Fragment Types</a>
        </li>
        <li>
            <a href="{{ cpUrl('fragments/settings/zones') }}" class="{{ selectedSettingsNavItem == 'zones' ? 'sel' : '' }}">Zones</a>
        </li>
    </ul>
</nav>
