{% extends '_layouts/elementindex.html' %}
{% set elementType = 'thepixelage\\fragments\\elements\\Fragment' %}
{% set title = "Fragments"|t('fragments') %}

{% set crumbs = [
    {
        'label': "Fragments"|t('fragments'),
        'url': cpUrl('fragments'),
    }
] %}

{% block actionButton %}
    <a href="{{ cpUrl('fragments/fragments/sidebar/banners/new') }}" class="btn submit add icon">New fragment</a>
{% endblock %}
