{% extends '_layouts/cp' %}

{% set fragmentTypes = craft.fragments.getAllFragmentTypes() %}

{% if fragmentTypes|length == 0 %}
    {% redirect 'fragments/settings/fragmenttypes' %}
{% endif %}

{% if handle is not defined %}
    {% redirect "fragments/fragments/#{fragmentTypes[0].handle}" %}
{% endif %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Fragments'|t('fragments') %}
{% set selectedSubnavItem = 'fragments' %}

{% set fragmentTypes = craft.fragments.getAllFragmentTypes() %}

{% block sidebar %}
    {% include 'fragments/_includes/fragmentsnav.twig' with { fragmentTypes: fragmentTypes, selectedFragmentTypeHandle: handle } %}
{% endblock %}

{% block content %}
    <div id="fragments-vue-admin-table"></div>

    <div class="buttons">
        <a href="{{ cpUrl("fragments/fragments/#{handle}/new") }}" class="btn submit add icon">{{ "New fragment"|t('app') }}</a>
    </div>
{% endblock %}

{% set tableData = [] %}

{% js %}
    var columns = [
    { name: '__slot:title', title: Craft.t('app', 'Name') },
    { name: '__slot:handle', title: Craft.t('app', 'Handle') }
    ];

    new Craft.VueAdminTable({
    columns: columns,
    container: '#fragments-vue-admin-table',
    deleteAction: 'fragments/zones/delete-zone',
    emptyMessage: Craft.t('app', 'No fragments of this type exist yet.'),
    tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
