{% requireAdmin %}
{% extends 'fragments/_layouts/settings' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Fragments Settings'|t('fragments') %}
{% set selectedSubnavItem = 'settings' %}
{% set selectedSettingsNavItem = 'fragmenttypes' %}

{% set fragmentTypes = craft.fragments.getAllFragmentTypes() %}

{% block content %}
    <div id="zones-vue-admin-table"></div>

    <div class="buttons">
        <a href="{{ url('fragments/settings/fragmenttypes/new') }}" class="btn submit add icon">{{ "New fragment type"|t('app') }}</a>
    </div>
{% endblock %}

{% set tableData = [] %}
{% for fragmentType in fragmentTypes %}
    {% set tableData = tableData|merge([{
        id: fragmentType.id,
        title: fragmentType.name|t('site'),
        url: url('fragments/settings/fragmenttypes/' ~ fragmentType.id),
        name: fragmentType.name|t('site')|e,
        handle: fragmentType.handle,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#zones-vue-admin-table',
        deleteAction: 'fragments/fragment-types/delete-fragment-type',
        emptyMessage: Craft.t('app', 'No fragment types exist yet.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
